*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
seeds.txt
mapping.txt
/app/unused.txt
.idea
/app/release
*.apk
*.aab